{preload_replace:template_root="services"}
{preload_replace:entry="item"}

{embed=a/h title="Payment Complete"}

<style>
#content {
	position: relative;
	z-index: 3;
	opacity: .8;
	transition: all 1s ease-in-out;
}
#firework-canvas {
	transition: all 1s ease-in-out;	
}
@media (min-width:600px) {
	#content {
		width:80%;
	}
}
@media (max-width:599px) {
	#content {
		width:90%;	
	}
}
</style>

<div id="content">
	{exp:cartthrob:submitted_order_info}
		
	{if declined}<p id="notice"><span class="fa fa-exclamation" ></span> Card Declined. {error_message}. Please hit the back button and try again, or call us for help.</p>{/if}

	{if failed}<p id="bad"><span class="fa fa-warning" ></span> Payment Failed: {error_message}.  Please hit the back button and try again, or call us for help.</p>{/if}

	{if authorized}<p id="admin_notice" class="good"><span class="fa fa-flag-checkered" ></span> Order Sucessful!</p>

	<p><a href="{path='logout'}" class="basic_button">Logout</a>
		{exp:channel:entries channel="orders" status="open|Complete|closed" author_id="CURRENT_USER" limit="1"}
		<a href="{entry_id_path=ctcheckout/receipt'}" class="basic_button">Print Recepit</a> <a href="{site_url}/me" class="basic_button">See Purchase History</a></p>

		{order_items}

			{if 
				'{item:entry_id}' == '935' OR 
				'{item:entry_id}' == '934' OR
				'{item:service_sorting}' == 'service'
			}

				{!-- Recitals and Sessions --}
				{if item:count =='1'}
					<p>An email has been sent to both Recording Services and the Scheduling Office for proof of payment.  For refunds, please email recordingservices@unt.edu.</p>
				{/if}

			{if:else}
			{!-- Download --}

				{if item:count=='1'}
					<p>File downloads for these events can now be accessed on each concert's page, or through your account page.</p>
					<ul>
				{/if}

				<li><a href="/downloads/item/{item:entry_id}">{item:entry_date format=""} {item:title}</a></li>

				{if item:count == item:total_results}
					</ul>
				{/if}

			{/if}

		{/order_items}


		<section class="order_receipt">
			<h3>Order Info</h3>
			     <table>
			      <thead>
			       <tr>
			        <td>ID</td>
			        <td>Description</td>
			        <td align="right">Qty</td>
			        <td align="center">&nbsp;</td>
			        <td align="right">Price</td>
			        <td align="right">Item Total</td>
			       </tr>
			      </thead>
			      <tbody>
			       {order_items}
			        <tr class="{item:switch="odd|even"}">
			         <td>{item:entry_id}</td>
			         <td>{item:title}</td>
			         <td align="right">{item:quantity}</td>
			         <td align="center">&nbsp;</td>
			         <td align="right">{item:price}</td>
			         <td align="right">
			          {exp:cartthrob:arithmetic num1="{item:price_numeric}" num2="{item:quantity}" operator="*"}
			         </td>
			        </tr>
			       {/order_items}
			      </tbody>
			     </table>
			     <hr>
			     <table>
			      <tr>
			       <td align="right">
			        <table>
			         <tr>
			          <td align="right"><strong>Total:</strong></td>
			          <td align="right"></td>
			          <td align="right"><strong>{order_total}</strong></td>
			         </tr>
			        </table>
			       </td>
			      </tr>
			     </table>
			    </td>
			   </tr>
			  </table>
			
			<dl>
				<dt>Order Date</dt>
				<dd>{entry_date format="%l, %F %j %Y, %g:%i%a"}</dd>

				<dt>Order ID</dt>
				<dd>{title}</dd>

				<dt>Email</dt>
				<dd>{order_customer_email}</dd>

				<dt>Phone</dt>
				<dd>{if order_customer_phone}{order_customer_phone}{if:else}No Phone Number Provided{/if}</dd>

				{if order_transaction_id}
		            <dt>Transaction ID</dt>
		            <dd>{order_transaction_id}</dd>
				{/if}

				<dt>IP Address</dt>
				<dd>{order_ip_address}</dd>

				<p style="color:#ccc">This system does not save credit card information, so no further details can be displayed here.</p>


		{/exp:channel:entries}

		{/if}

	{/exp:cartthrob:submitted_order_info}


</div>
{embed=a/js}
<script>
//$('#playfireworks').on('click', showFireworks);
//$('#removefireworks').on('click', removeFireworks);

/******************************** Firework particle class *********************************/
/** Credits: https://codepen.io/rainner/pen/GaqOOW **/
class FireworkParticle {
  
  constructor( context, width, height, total ) {
    this.context = context;  
    this.width = width;
    this.height = height;
    this.total = total;
    this.done = 0;
    this.x = 0;
    this.xTo = 0;
    this.y = 0;
    this.yTo = 0;
    this.ease = 20;
    this.size = 300;
    this.hue = 0, 
    this.particles = [];
    this.reset(); 
  }
  
  between( min, max ) {
    return Math.random() * ( max - min + 1 ) + min;
  }
  
  complete() {
    return ( this.done >= this.total );
  }
  
  reset() {
    this.particles = [];
    this.x = this.between( 100, this.width - 100 );
    this.xTo = this.between( this.x + 100, this.x - 100 );
    this.y = this.height + 10;
    this.yTo = this.height / 2 - this.between( 0, 200 );
    this.ease = this.between( 12, 20 );
    this.hue = this.between( 100, 360 );
    this.done = 0;
  }
  
  explode() {
    this.particles = [];
    this.context.clearRect( 0, 0, this.width, this.height ); // flash 
    
    for ( let i = 0; i < this.total; i++ ) {
      this.particles.push( {
        x     : this.x,
        y     : this.y,
        xTo   : this.between( this.x - this.size, this.x + this.size ),
        yTo   : this.between( this.y - this.size, this.y + this.size ),
        size  : this.between( 1, 3 ),
        ease  : this.between( 8, 28 ),
        hue   : this.between( this.hue - 100, this.hue ),
        alpha : 1
      });
    }
  }
  
  update( width, height ) {
    this.width = width || this.width;
    this.height = height || this.height;
    this.x += ( this.xTo - this.x ) / this.ease;
    this.y += ( this.yTo - this.y ) / this.ease;
  }
  
  drawBomb() {
    this.context.beginPath();
    this.context.arc( this.x, this.y, 2, 0, 2 * Math.PI, false );
    this.context.fillStyle = `hsl( ${this.hue}, 100%, 60% )`;
    this.context.fill();
  }
  
  drawParticles() {
    for ( let i = 0; i < this.particles.length; i++ ) {
      const p = this.particles[ i ];

      if ( p.alpha >= 0 ) {
        this.context.beginPath();
        this.context.arc( p.x, p.y, p.size, 0, 2 * Math.PI, false );
        this.context.fillStyle = `hsla( ${p.hue}, 100%, 60%, ${p.alpha} )`;
        this.context.fill();

        p.x += ( p.xTo - p.x ) / p.ease;
        p.y += ( p.yTo - p.y ) / p.ease;
        p.alpha -= 0.014;
        continue;
      }
      this.particles.splice( i, 1 );
      this.done += 1;
    }
  }
  
  draw() {
    if ( this.complete() ) return;
    if ( this.y > this.yTo + 20 ) { this.drawBomb(); } 
    else if ( !this.particles.length ) { this.explode(); } 
    else { this.drawParticles(); } 
  }
}

/**
 * Setup
 */
function showFireworks() {
  let width = window.innerWidth;
  let height = window.innerHeight;
  let particles = [];
  
  // particle canvas
  const canvas = document.createElement( 'canvas' );
  const context = canvas.getContext( '2d' );
  canvas.id = 'firework-canvas';
  canvas.width = width;
  canvas.height = height;
  canvas.style.display = 'block';
  canvas.style.pointerEvents = 'none';
  canvas.style.position = 'fixed';
  canvas.style.zIndex = '1';
  canvas.style.left = '0';
  canvas.style.top = '0';
  canvas.style.width = '100%';
  canvas.style.height = '100%';
  canvas.style.opacity = '.85';
  document.body.appendChild( canvas );
  
  // on resize 
  window.addEventListener( 'resize', e => {
    width = window.innerWidth;
    height = window.innerHeight;
    canvas.width = width;
    canvas.height = height;
  });
  
  // add particles slowly over time 
  const create = () => {
    if ( particles.length > 2 ) return; 
    particles.push( new FireworkParticle( context, width, height, 100 ) ); 
    setTimeout( create, 600 );  
  }; 
  
  // animation loop 
  const loop = () => {
    requestAnimationFrame( loop );
    context.fillStyle = 'rgba(0,0,0,0.2)';
    context.fillRect( 0, 0, width, height );
    
    for ( let p of particles ) {
      if ( p.complete() ) p.reset();
      p.update( width, height );
      p.draw();
    }
  };
 
  // init 
  create();
  loop();
};

function removeFireworks() {
  let content = document.querySelector('#content');
  let canvas  = document.querySelector('#firework-canvas');
  content.style.opacity = 1;
  content.style.width = '100%';

  canvas.style.opacity = 0;


  setTimeout(function() {
  	let fireworksCanvas = document.getElementById('firework-canvas');
  	fireworksCanvas.parentNode.removeChild(fireworksCanvas);
  }, 1100);

}

showFireworks();

// Stop fireworks after 10 seconds.
setTimeout(removeFireworks, 8000);


</script>

{embed=a/f}

{!-- Clear the cart, and the session data --}
{exp:cartthrob:clear_cart}