{exp:http_header content_type="text/calendar; charset=UTF-8"}
{!--

  Shows iCal formatted events for upcoming events.

--}BEGIN:VCALENDAR
METHOD:PUBLISH
VERSION:2.0
X-WR-CALNAME:UNT Live Streams
X-WR-CALDESC:Live streamed concerts and recitals.
X-WR-TIMEZONE:America/Chicago
PRODID:UNT Recording Services
BEGIN:VTIMEZONE
TZID:America/Chicago
LAST-MODIFIED:20050809T050000Z
BEGIN:STANDARD
DTSTART:20071104T020000
TZOFFSETFROM:-0500
TZOFFSETTO:-0600
TZNAME:CST
END:STANDARD
BEGIN:DAYLIGHT
DTSTART:20070311T020000
TZOFFSETFROM:-0600
TZOFFSETTO:-0400
TZNAME:EDT
END:DAYLIGHT
END:VTIMEZONE
{exp:channel:entries
  channel="live" 
  disable="member_data|pagination|categories" 
  require_entry="yes" 
  limit="1" 
  cache="yes" 
  refresh="500" 
  entry_id="{segment_3}"
  show_future_entries="yes"
  status="livestream"
}BEGIN:VEVENT
TRANSP:OPAQUE
SUMMARY:{title}
LOCATION:{room limit="1"}{room:title}{/room}
DTSTART;TZID=America/Chicago:{entry_date format="%Y%m%dT%H%i%s"}
DTEND;TZID=America/Chicago:{expiration_date format="%Y%m%dT%H%i%s"}
DESCRIPTION:Live streamed at: https://recording.music.unt.edu/live/event/{entry_id}.  Program information available on the website closer to event date.
URL;VALUE=URI:https://recording.music.unt.edu/live/{entry_id}
DTSTAMP;TZID=America/Chicago:{if edit_date}{edit_date format="%Y%m%dT%H%i%s"}{if:else}20190701T110000{/if}
SEQUENCE:{if archive_ical_increment}{archive_ical_increment}{if:else}0{/if}
LOCATION:{if room:entry_id=="3266" OR room:entry_id=="3270"}Murchison Performing Arts Center\, 2100 Interstate 35E Frontage Rd\, Denton\, TX 76201
{if:else}Music Building\, 415 Ave C\, Denton, TX 76201\, USA
{/if}
X-APPLE-STRUCTURED-LOCATION;VALUE=URI;X-ADDRESS=2100 N Interstate 35 E\\
 nDenton TX 76205;X-APPLE-RADIUS=99;X-TITLE=2100 N Interstate 35 E:geo:33
 .208022,-97.159236
UID:{entry_id}
BEGIN:VALARM
X-WR-ALARMUID:{entry_id}{entry_id}
UID:{entry_id}{entry_id}
TRIGGER;VALUE=DATE-TIME:TZID=America/Chicago:{entry_date format="%Y%m%dT%H%i%s"}
ACTION:NONE
END:VALARM
BEGIN:VALARM
X-WR-ALARMUID:{entry_id}{entry_id}
UID:{entry_id}{entry_id}
TRIGGER:-PT5M
ATTACH;VALUE=URI:Basso
ACTION:AUDIO
END:VALARM
END:VEVENT
{ical_space}{/exp:channel:entries}
END:VCALENDAR