{!--

What shows when there are no events with status Livestream in the future

--}

{embed=a/h}


{!-- Resulted In Errors for missing fields
<script type="application/ld+json">
[
    {  
      "@context": "http://schema.org",
      "@type" : "MusicEvent",
      "eventStatus": "https://schema.org/EventCancelled"
    }
]
</script>  
--}

  <style>
    .no_results_centered {width:50%;margin:5em auto;max-width:800px;}    
  </style>
  <section class="no_results_centered">
    <h1>This event is no longer available or we are on break</h1>
    <p>Check back closer to the start of the semester for the live streaming schedule.</p>

    <p>Most ensemble concerts are live broadcasted here including orchestras, choirs, bands, percussion, and top jazz groups.</p>

    <p>Missed a concert?  If you are a UNT faculty, staff or student you can login to the archive to rewatch events.  Unfortunately due to copyrights and permissions we are not able to offer this service to everyone.  The events and pieces that can be public are made available on our <a href="https://youtube.com/untrecserv">youtube</a> channel.</p>

    <p>Thanks, and see you again soon!</p>
  </section>
{embed=a/f}