{embed=a/h
    title="Forgot Password"
}

<style>
@media (min-width:500px) {
 div.reset_instructions {
 	width:40%;
 	margin:0 auto;
 }
}
</style>

<div id="content">

<div class="reset_instructions">
<h2>Reset Password</h2>
<p>This form will allow you to reset your password.</p>
</div>

{exp:user:reset_password
    reset_code="{segment_3}"
    return="me/index"
}
    {if user_no_results}
        <h4>The reset token provided is invalid.</h4>
    {/if}

		<div id="login_form">
			<ul>
		        <li>        
		            <label>New Password: <div class="field_is_valid" style="display:none"><i class="fa fa-check"></i> Match</div></label>
		            <input type="password" name="password" id="field_pass1" minlength="5" required autocomplete='off' maxlength='50' />
		        </li>
		        <li>
		            <label>Confirm Password:
		                <div class="field_is_valid" style="display:none"><i class="fa fa-check"></i> Match</div>
		                 <div class="field_is_not_valid" style="display:none"><i class="fa fa-exclamation-triangle"></i> Not Match</div>
		            </label>
		            <input type="password" name="password_confirm" id="field_pass2" minlength="5" required autocomplete='off' maxlength='50' />
		        </li>
			 	<li><button name="Save" value="Submit" class="login_submit" id="submit" tabindex="3">Reset</button></li>
			</ul>
		</div>
{/exp:user:reset_password}

</div>

{jquery}
<script>
// Check that passwords match.
$('#field_pass2').keyup( function(event) {
    var pass1 = $('#field_pass1').val();
    var pass2 = $(this).val();

    if(pass1 == pass2){
        $(this).removeClass('form_notice');
        $(this).addClass('form_valid');
        $(this).parent().find('.field_is_valid').css('display','inline');
        $(this).parent().find('.field_is_not_valid').css('display','none');
        $('#field_pass1').addClass('form_valid');
    }else{
        $(this).addClass('form_notice');
        $(this).removeClass('form_valid');
        $(this).parent().find('.field_is_valid').css('display','none');
        $(this).parent().find('.field_is_not_valid').css('display','inline');
        $('#field_pass1').removeClass('form_valid');
    }

});
</script>
{embed=a/js}

{embed=a/f}