{!-- Homepage --}
{embed=a/h title="Home" meta="Homepage"}

<article class="homepage" aria-label="Homepage Content">

<section class="homepage_container" aria-label="We Are Behind the Production">
  <div class="homepage_text">
    <h2>Behind the Production</h2>
    <p>Classical and Jazz recording production for the College of Music.
</p>
  </div>
  <div class="homepage-loop">
  {if '{global:saveData}'}
    <video poster="/images/homepage/3S3A1532.jpg" id="bgvid" width="100%" height="auto">
    </video>
  {if:else}
    <video poster="/images/homepage/3S3A1532.jpg" id="bgvid" playsinline autoplay muted loop>
      <source src="/images/rs-loop-3.mp4" type="video/mp4" media="screen and (max-width:720px)">
      <source src="/images/rs-loop-2.mp4" type="video/mp4" media="screen and (max-width:1440px)">
      <source src="/images/rs-loop-1.mp4" type="video/mp4" media="screen and (min-width:1440px)">
    </video>
  {/if}
  </div>
</section>


{exp:channel:entries 
	channel="live" 
	show_expired="no" 
	show_future_entries="yes" 
	status="livestream|Scheduled" 
  	search:live_stream="yes"
	disable="member_data|categories|pagination" 
	sort="asc" 
	cache="yes" 
	refresh="5000" 
	limit="11" 
	dynamic="off"
}
  {if count=='1'}
  <article class="scroll_group" aria-label="Upcoming Live Streams">
    <header class="scroll_group_header">
      <h2 class="scroll_group_title"><a href="/live">Upcoming Featured Live Streams</a></h2>
    </header>
    <section class="scroll_group_items">
  {/if}

  {if count < 11}
    <section class="scroll_group_item" aria-label="Live Stream Event, {title}"> 
      <a href="/live/event/{entry_id}" data-hjtag="link-live">
      <div class="scroll_group_item_img_container">
      <div class="scroll_group_item_img_container2">
          {if ondemand_image}
              {exp:ce_img:pair src="{ondemand_image}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
                <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif archive_default_image}
              {exp:ce_img:pair src="{archive_default_image}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
                <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif '{related_ensembles_v2:default_picture}' }
              {exp:ce_img:pair src="{related_ensembles_v2:default_picture}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
              <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif '{archive_faculty_notificaiton:faculty_photo:server_path}' }
              {exp:ce_img:pair src="{archive_faculty_notificaiton:faculty_photo:server_path}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
              <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif '{room:room_primary_image:server_path}' }
              {exp:ce_img:pair src="{room:room_primary_image:server_path}" width="400" height="225" crop="yes" save_type="jpg"  fallback_image="/images/default.png"}
              <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:else}
              {exp:ce_img:pair src="/images/default.png" width="400" height="225" crop="yes" save_type="jpg"}
                <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {/if}
        </div></div>
        <article class="scroll_group_item_meta">
          <h4>{exp:char_limit total="30"}{title}{/exp:char_limit} {if current_time > entry_date AND current_time < expiration_date}Live Now!{/if}</h4>
          <p><time datetime="{entry_date format='{DATE_ATOM}'}">{entry_date format="%F %j, %Y"}</time></p>
        </article>
      </a>      
    </section>
  {/if}

  {if count == 11}
  <section class="scroll_group_item" aria-label="Get more live events">
    <a href="/live">
      <div class="scroll_group_item_img_container">
      <div class="scroll_group_item_img_container2">
        {exp:ce_img:pair src="/images/default.png" width="400" height="225" crop="yes" save_type="jpg"}
        <img src="{made}" alt="See More Events" title="See More Events" width="{width}" height="{height}" >
        {/exp:ce_img:pair}
      </div></div>
      <article class="scroll_group_item_meta">
        <h4>See More</h4>
      </article>
    </a>
  </section>
  {/if}

  {if count==total_results}
  </div><!-- Gallery 2 -->
  </article>
  {/if}
{/exp:channel:entries}


  <!-- //////////////////////////////  Just Posted //////////////////////////////-->
  {exp:channel:entries
    channel="live"
    show_expired="yes"
    sort="desc"
    disable="categories|pagination|member_data"
    limit="10"
    cache="yes"
    refresh="5000"
   }
    {if count=='1'}
    <section class="scroll_group">
      <header class="scroll_group_header">
        <h2 class="scroll_group_title">New in the Archive {if logged_out}<i class="fa fa-lock" title="You must log in to view the archive"></i>{if:else}<i class="fa fa-unlock" title="You are logged in and the archive is available."></i>{/if}</h2>
      </header>
      <div class="scroll_group_items">
    {/if}
      <div class="scroll_group_item"> 
        <a href="{entry_id_path=downloads/item}" data-hjtag="link-recentlyposted">
        <div class="scroll_group_item_img_container">
        <div class="scroll_group_item_img_container2">
          {if ondemand_image}
              {exp:ce_img:pair src="{ondemand_image}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
                <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif archive_default_image}
              {exp:ce_img:pair src="{archive_default_image}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
                <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif '{related_ensembles_v2:default_picture}' }
              {exp:ce_img:pair src="{related_ensembles_v2:default_picture}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
              <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif '{archive_faculty_notificaiton:faculty_photo:server_path}' }
              {exp:ce_img:pair src="{archive_faculty_notificaiton:faculty_photo:server_path}" width="400" height="225" crop="yes" save_type="jpg" fallback_image="/images/default.png"}
              <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:elseif '{room:room_primary_image:server_path}' }
              {exp:ce_img:pair src="{room:room_primary_image:server_path}" width="400" height="225" crop="yes" save_type="jpg"  fallback_image="/images/default.png"}
              <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {if:else}
              {exp:ce_img:pair src="/images/default.png" width="400" height="225" crop="yes" save_type="jpg"}
                <img src="{made}" title="{title}" alt="{title}" loading="{if count < 4}eager{if:else}lazy{/if}" width="{width}" height="{height}" />
              {/exp:ce_img:pair}
          {/if}
          </div></div>
          <section class="scroll_group_item_meta">
            <h4>{exp:char_limit total="30"}{title}{/exp:char_limit}</h4>
            <p><time datetime="{entry_date format='{DATE_ATOM}'}">{entry_date format="%F %j, %Y"}</time></p>
          </section>
        </a>      
      </div>
    {if count==total_results}
    </div><!-- Gallery 2 -->
    </section>
    {/if}
  {/exp:channel:entries}

</article>

{embed=a/js}

<script>
let vid = document.getElementById('bgvid');
let vid_button = document.querySelector('.homepage-loop');
vid_button.addEventListener('click', e => {
  if (vid.paused) {
    vid.play();
  } else {
    vid.pause();
  }
});
</script>


{embed=a/f}
