{embed=a/h title="Missing File" meta="Not able to find the file you are looking for"}

	 <div id="content">

		<section style="width:60%;margin:0 auto">
			 <h2><span class="fa fa-warning"></span> The file is missing!</h2>
			   <p style="font-size:1.3em">I'm sorry, but the file link appears to not be working.  This might be our fault or the way you tried to download the file is not allowed.  Please contact us at recordingservices@unt.edu to have us correct the error, or make sure you are logged in and clicking a download button from an entry page.</p>
		</section>

	</div>
{embed=a/js}
{embed=a/f}